body {
    background-color: #eee;
}

main {
    margin-top: 30px;
}

.navbar {
    background-color: green;
    border-bottom: 15px solid #0e461b;
    color: #FFF;
}

.navbar a {
    color: #000;
}

.navbar a:hover {
    color: #888;
}

.drop-image {
    position: absolute;
    top: 85px;
    left: -80px;
    -webkit-box-shadow: 6px 4px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 4px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 4px 21px -8px rgba(0, 0, 0, 0.75);
}

.btn-sair {
    margin: 10px;
    margin-bottom: 0px;
    width: auto;
}

.logo-ines {
    height: auto;
    width: 80px;
}

.logo-ines-login {
    height: auto;
    width: 120px;
}

.img-peq {
    height: auto;
    width: 80px;
    border: 3px solid #FFF;
}

.tam_table {
    font-size: 14px;
}

.form-sign {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#panel {
    display: none;
}

.modal-larg {
    max-width: 1500px;
}

.title_depart {
    height: 50px;
    font-size: 13px;
}

.form-aluno {
    background-color: #afd5ff;
    padding: 30px;
    border-radius: 4%;
}